body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 15px;
  }
  .sidenav a {
      font-size: 18px;
  }
}

h1 {
  margin-bottom: 20px;
}
#map {
  height: 100%;
}

span.abc{
    color: #03A9F4;
}

div.bar h2{
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    text-align: left;
}

div.line {
    position: relative;
    margin: 0% auto;
    height: 0.6%;
    width: 30%;
    background-color: #03A9F4;
}

div.place{
  background-color:grey;
}
div.second{
  background-color: grey;
}
div.third{
  background-color: grey;
}
div.row {
  margin-bottom: 0px;
  padding-bottom: 1%;
}

#zoom-to-area-text {
    position: relative;
    padding-top: 20px;
    padding-left: 6%;
    width: 65%;
    height: 60px;
    color:black;
    margin-top: 2%;
}

#zoom-to-area-text::placeholder {
    color: #03A9F4;
    opacity: 1;
    text-align: center;
    font-size: 25px;
    /*font-family: 'Indie Flower', cursive;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'Lobster', cursive;*/
    font-family: 'Pacifico', cursive;
}

#places-search::placeholder {
    color: #03A9F4;
    opacity: 1;
    text-align: center;
    font-size: 25px;
    /*font-family: 'Indie Flower', cursive;
    font-family: 'Sedgwick Ave', cursive;
    font-family: 'Lobster', cursive;*/
    font-family: 'Pacifico', cursive;
}

#places-search {
    position: relative;
    padding-top: 20px;
    padding-left: 6%;
    width: 65%;
    height: 60px;
    color:black;
    margin-top: 2%;
}

#zoom-to-area {
    width: 5%;
}
#more {display: none;}


.card, .card-image .card-content {
  display: flex;
  flex-direction: column;
}
.card,.card-content{
  flex-grow: 8;
}
.card,.card-content:last-child{
  margin-top: auto;
}
.card,.card-content:nth-child(2){
  margin-bottom: 0.75rem;
}
.card .text {
  max-width: 60ch;
}

.card + .card {
    margin-top: 1.5rem;
}

@supports (display: grid) {
    .cards > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        grid-gap: 4.5rem;
    }

    .card + .card {
        margin-top: 0;
    }
}
