.card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 10px;
    justify-content: space-between;
    margin: 40px;
    
}
.card-3 img{
    height: 540px;
    width: 620px;
    margin-left: 10px;
}

.card-2 img{
    height: 540px;
    width: 570px;
    margin-left: 10px;
}
.card-5 img{
    margin-left: 10px;
    height: 400px;
    
}
.card-6 img{
    margin-left: 20px;
    height: 400px;
}
.card-4 img{
    height: 400px;
}
.card-1 img{
    height: 540px;
    width: 620px;

}
body{
    background-color:black;
}
.FONTAWESOME {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    padding-bottom: 10px;
    justify-content: space-between;
    margin: 40px;
}
.testimonials i{
    padding-left: 900px;
}




